<section>
  <div class="px-4 py-5 px-md-5 text-center text-lg-start bg-light">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-3 display-2 fw-bold ls-tight">
            Welcome back <br />
            <span class="text-primary">Login to continue</span>
          </h1>
          <p class="text-muted">
          Welcome to the Restaurant Inventory Management System.
          Manage ingredients, track orders, and keep your kitchen running smoothly—all in one place.
          Please log in to continue.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" formControlName="email" class="form-control" />
                  <label class="form-label">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" formControlName="password" class="form-control" />
                  <label class="form-label">Password</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-between mb-4">
                  <div>
                    <input class="form-check-input me-2" type="checkbox" formControlName="rememberMe" />
                    <label class="form-check-label"> Remember me </label>
                  </div>
                  <a href="#">Forgot password?</a>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Login
                </button>

                <!-- Social login -->
                <!-- <div class="text-center">
                  <p>or login with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div> -->

              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
